.header-container {
  background-color: white;
  margin-bottom: 60px;
}

.sticky0 {
  position: sticky;
  z-index: 2;
  top: 0;
}

.header-main-content__inner-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.header-main-content__inner-container.container {
  padding: 10px 16px;
  gap: 16px;
}